.swiperBrands {
  width: 100%;
  margin: 16px 0 10px 0;

  .skeletonBrandList {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .skeletonBrand {
      border-radius: 20%;
      width: 80px;
      height: 80px;
      background: gray;
    }
  }

  .swiper-button-prev {
    width: 40px;
    height: 20px;
    color: black;
    right: auto;
    left: -10px;
    &:after {
      font-size: 20px;
    }
  }
  .swiper-button-next {
    width: 40px;
    height: 20px;
    color: black;
    left: auto;
    right: -10px;
    font-size: 2px;
    &:after {
      font-size: 20px;
    }
  }
}
